/* * * * * * *
 * CSS Reset *
 * * * * * * */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, sans-serif;
    vertical-align: baseline;
}

/* * * * * * * * */

header {
    height: 15vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b59b6;
}

header a {
    color: white;
}

nav {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 15px;
}

nav a {
    color: black;
}

nav > * {
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow-y: scroll;
}
main > * {
    position: relative;
    top: -100px;
}

table {
    width: 80vw;
    text-align: center;
    margin-top: 20px;
}

td:nth-child(2) {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #FFF;
}

tr:nth-child(odd) {
    background-color: #ebddf0;
}

a, a:visited {
    text-decoration: inherit;
    color:inherit;
}

td button {
    font-size: 1.2em;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}

td:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

td button:hover {
    cursor: pointer;
}

td:nth-child(2) span:first-child button:hover {
    color:#2ecc71;
}

td:nth-child(2) span:last-child button:hover {
    color:red;
}

td:nth-child(4) button:hover {
    color:#9b59b6;
}

td:nth-child(5):hover {
    color:#e67e22;
}

td:nth-child(6) button:hover {
    color:#e74c3c;
}

label {
    display: inline-block;
    width: 130px;
}

button {
    margin-top: 15px;
    margin-left: 30%;
}

.password_reset {
    margin-left: -40px;
    margin-top: 10px;
    font-size: .9em;
    text-decoration: underline;
}

footer {
    display: flex;
    background-color: #9b59b6;
    color: white;
    height: 10vh;
    justify-content: center;
    align-items: center;
}